body {
  margin:0px;
  padding:0px;
  font:normal 15px/20px Arial,sans-serif;
  background:#fff;
  }

article {
  width:33.3333%;
  min-width:320px;
  position:relative;
  padding-top:40px;
  padding-bottom:33.3333%;
  }
section {
  padding:40px;
  margin-left:40px;
  position:relative;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
  }
section,
section a {
  color:#888;
  color:rgba(128,128,128,0);
  text-decoration:none;
  text-shadow:rgba(64,64,64,1) 0px 0px 4px;
  }
section.active {
  background:#0071bc;
  color:#eee;
  }
section.active a { color:#eee; }
section.active small { color:#aaa; }
h1 { font-size:2em; line-height:1em; }
h2 { font-size:1.3333em; }
h1,h2 { margin:0px 0px 10px; }
p { margin:0px; }

.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:10px;
  text-transform:uppercase;
  padding:5px 10px;
  }
.colophon {
  display:block;
  margin-top:10px;
  }

.cover:before {
  content:'';
  display:block;
  width:120px; height:120px;
  margin:0px auto 20px;
  }
.cover.active:before { background:url(sprite.png) 0px -120px no-repeat; }

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
  }
#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:200%;
  left:-50%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  }

.spot {
  width:120px;
  height:120px;
  margin:-60px 0px 0px -60px;
  background:url(sprite.png) 120px 120px no-repeat;
  position:absolute;
  }
.spot-cover { display:none; }
.spot-baker { background-position:-130px 0px; }
.spot-baker.active { background-position:-130px -120px; }
.spot-aldgate { background-position:-260px 0px; }
.spot-aldgate.active { background-position:-260px -120px; }
.spot-london-bridge { background-position:-390px 0px; }
.spot-london-bridge.active { background-position:-390px -120px; }
.spot-woolwich { background-position:-520px 0px; }
.spot-woolwich.active { background-position:-520px -120px; }
.spot-gloucester { background-position:-650px 0px; }
.spot-gloucester.active { background-position:-650px -120px; }
.spot-caulfield-gardens { background-position:-780px 0px; }
.spot-caulfield-gardens.active { background-position:-780px -120px; }
.spot-telegraph { background-position:-910px 0px; }
.spot-telegraph.active { background-position:-910px -120px; }
.spot-charing-cross { background-position:-1040px 0px; }
.spot-charing-cross.active { background-position:-1040px -120px; }

/* Distinguish the "cover page" visually other sections. */
body.section-0 #map { opacity:0.5; }

@media (max-width:640px) {
  body {
    font-size:12px;
    line-height:16px;
    }
  article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    padding-bottom:200%;
    }
  section {
    text-shadow:none;
    margin-left:0px;
    padding:30px;
    }
  section.active {
    position:fixed;
    top:0px; left:0px; right:0px;
    }
  #pane { width:100%; }
  #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  }

@media (min-width:1280px) {
  body {
    font-size:18px;
    line-height:24px;
  }
}
